<div class="gallery-wrapper max-w-7xl m-auto">
  <h1 class="card-title px-6 pb-4">{{ galleryTitle }}</h1>

  <div class="flex justify-center">
    <div class="flex flex-row gap-8 flex-wrap justify-center">
      <app-media
        *ngFor="let media of medias"
        [key]="media.key"
        [imageUrl]="media.imageUrl"
        [title]="media.title"
        [description]="media.description"
        [buttonLabel]="media.buttonLabel"
        [showBodyOnHover]="true"
      ></app-media>
    </div>
  </div>
</div>
