<div class="portfolio-wrapper max-w-7xl m-auto">
  <h1 class="card-title px-6 pb-4">{{ title | translate }}</h1>

  <div class="flex justify-center my-4">
    <div class="flex flex-row gap-8 flex-wrap justify-center">
      <app-media
        (clickedButton)="onClickedButton($event)"
        (clickedMedia)="onClickedMedia($event)"
        *ngFor="let media of galleryCategoryData"
        [buttonLabel]="media.category.buttonLabel"
        [description]="media.category.description"
        [id]="media.category.id"
        [title]="media.category.title"
        [url]="media.content[0] ? media.content[0].url : ''"
        [displayMedia]="media.category.displayMedia"
      ></app-media>
    </div>
  </div>
</div>
