<div class="portfolio-wrapper max-w-7xl m-auto">
  <h1 class="card-title px-6 pb-4">{{ title }}</h1>

  <div class="flex justify-center">
    <div class="flex flex-row gap-8 flex-wrap justify-center">
      <app-media
        *ngFor="let media of galleryCategoryData"
        [key]="media.category.key"
        [imageUrl]="media.content[0].imageUrl"
        [title]="media.category.title"
        [description]="media.category.description"
        [buttonLabel]="media.category.buttonLabel"
        (clickedMedia)="onClickedMedia($event)"
        (clickedButton)="onClickedButton($event)"
      ></app-media>
    </div>
  </div>
</div>
