<div class="media-component-wrapper">
  <div class="card card-compact w-96 bg-base-100 shadow-xl">
    <figure
      class="cursor-pointer relative min-h-[350px]"
      (click)="onClickMedia()"
    >
      <img
        *ngIf="!hasErrorLoading"
        [src]="imageUrl"
        loading="lazy"
        (load)="onLoadMediaPreview(true)"
        (error)="onErrorLoading(true)"
        [alt]="description"
      />
      <progress
        *ngIf="!hadLoadedPreviewMedia && !hasErrorLoading"
        class="progress progress-success min-w-[10rem] max-w-xs absolute top-2/4 left-1/2 transform -translate-x-1/2"
      ></progress>
      <h3 *ngIf="hasErrorLoading">
        {{ "components-media-error-loading-image" | translate }}
      </h3>
    </figure>
    <div
      class="card-body"
      [ngClass]="{
        showBodyOnHover: showBodyOnHover,
        'scale-in-ver-bottom': showBodyOnHover
      }"
    >
      <h2 class="card-title">{{ title }}</h2>
      <p *ngIf="description">{{ description }}</p>
      <div *ngIf="buttonLabel" class="card-actions justify-end">
        <button class="btn btn-primary" (click)="onClickButton()">
          {{ buttonLabel + " ❯ " }}
        </button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="modalOpened" class="modal" [ngClass]="{ modalOpened: modalOpened }">
  <figure class="min-w-min min-h-[10rem] relative" (click)="onClickMedia()">
    <div
      *ngIf="!hasLoadedFullMedia"
      class="flex flex-row gap-4 items-center absolute top-2/4 left-1/2 transform -translate-x-1/2"
    >
      <progress
        class="progress progress-success min-w-[10rem] max-w-xs"
      ></progress>

      <label class="btn btn-sm btn-circle" (click)="onClickCloseMedia()"
        >✕</label
      >
    </div>

    <img
      class="max-w-[95vw] max-h-[95vh] object-cover m-auto"
      [src]="imageUrl"
      [alt]="description"
      (load)="onLoadFullMedia(true)"
      (error)="onErrorLoading(true)"
    />

    <label
      *ngIf="hasLoadedFullMedia"
      class="btn btn-sm btn-circle absolute right-2 top-2"
      (click)="onClickCloseMedia()"
      >✕</label
    >
  </figure>
</div>
