.media-component-wrapper {
  .card {
    border-radius: 16px;
  }

  .card-body.showBodyOnHover {
    position: absolute;
    background-color: white;
    width: 100%;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
  }

  &:hover {
    .card-body.showBodyOnHover.fade-in {
      opacity: 0.8;
      color: #1e1e1e;
      transition: opacity 0.2s ease-in-out;
      -moz-transition: opacity 0.2s ease-in-out;
      -webkit-transition: opacity 0.2s ease-in-out;
    }
  }
}
