<div class="card">
  <div *ngIf="title" class="card-title p-4">{{ title }}</div>
  <div class="card-body p-4 m-auto max-w-4xl flex">
    <div class="carousel w-full">
      <div
        id="{{ 'slide'.concat(i.toString()) }}"
        *ngFor="let review of reviews; let i = index"
        class="carousel-item relative w-full"
      >
        <app-customer-review
          class="flex justify-center p-10 w-full"
          [name]="review.name"
          [quote]="review.quote"
        ></app-customer-review>
        <div
          class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
        >
          <a *ngIf="i === 0"></a>
          <a
            *ngIf="i !== 0"
            href="{{ '#slide'.concat((i - 1).toString()) }}"
            class="btn btn-circle"
            (click)="setCurrentIndex(i - 1)"
            >❮</a
          >
          <a
            *ngIf="i !== reviews.length - 1"
            href="{{ '#slide'.concat((i + 1).toString()) }}"
            class="btn btn-circle"
            (click)="setCurrentIndex(i + 1)"
            >❯</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
