<div class="card">
  <div *ngIf="title" class="card-title p-4">{{ title }}</div>
  <div class="card-body p-4 m-auto max-w-4xl flex">
    <div class="carousel w-[25rem] md:w-full">
      <div
        *ngFor="let review of reviews; let i = index"
        class="carousel-item relative w-full"
        id="{{ 'slide' + i }}"
      >
        <app-customer-review
          [img]="review.img"
          [name]="review.name"
          [quote]="review.quote"
          class="flex justify-center p-10 w-full"
        ></app-customer-review>
        <div
          [ngSwitch]="i"
          class="absolute flex justify-between transform -translate-y-1/2 left-5 right-5 top-1/2"
        >
          <ng-container *ngSwitchCase="0">
            <a
              class="btn btn-circle"
              href="{{ '#slide' + (reviews.length - 1) }}"
              >❮</a
            >

            <a class="btn btn-circle" href="{{ '#slide' + (i + 1) }}">❯</a>
          </ng-container>
          <ng-container *ngSwitchCase="reviews.length - 1">
            <a class="btn btn-circle" href="{{ '#slide' + (i - 1) }}">❮</a>

            <a class="btn btn-circle" href="{{ '#slide' + 0 }}">❯</a>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <a class="btn btn-circle" href="{{ '#slide' + (i - 1) }}">❮</a>

            <a class="btn btn-circle" href="{{ '#slide' + (i + 1) }}">❯</a>
          </ng-container>
        </div>
      </div>
    </div>
    <div class="flex justify-center w-full py-2 gap-2">
      <a
        *ngFor="let review of reviews; let i = index"
        class="btn btn-xs"
        href="{{ '#slide' + i }}"
      >
        {{ i + 1 }}</a
      >
    </div>
  </div>
</div>
